.lista-productos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #E6CBB3;
}

.tarjeta-producto {
    width: 100%;
    max-width: 300px; 
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    background-color: #A0522D;
}

.tarjeta-producto img {
    max-width: 100%;
    border-radius: 8px;
    background-color: #E6CBB3;
}